In [1]:
import warnings
warnings.filterwarnings('ignore')
# data cleaning
import numpy as np
import pandas as pd
from collections import Counter
# data visualization
import matplotlib.pyplot as plt
import seaborn as sns

#data preprocessing
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

#data modeling
from sklearn.tree import DecisionTreeRegressor

#model evaluation
from sklearn.metrics import precision_recall_fscore_support, classification_report
from sklearn.metrics import confusion_matrix,plot_confusion_matrix
from sklearn.metrics import accuracy_score, recall_score, precision_score, average_precision_score, f1_score, log_loss
from sklearn.metrics import roc_curve, auc, plot_roc_curve, roc_auc_score, plot_precision_recall_curve

from IPython.display import Image
from sklearn import tree
import pydotplus

**Read & inspect data**

In [2]:
df= pd.read_csv('nba_2013.csv')

In [3]:
df.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [4]:
df= df.dropna()

**1.Choose features**

In [5]:
x= df.drop(['player','bref_team_id','season','season_end'],axis=1)

In [6]:
x= pd.get_dummies(x)

In [7]:
y= df['pts']

**2.Split data**

In [8]:
x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.3, random_state= 42)

**3.Train model**

In [9]:
model= DecisionTreeRegressor()
model.fit(x_train,y_train)

DecisionTreeRegressor()

**4.Evaluate model**

In [11]:
model.score(x_train,y_train)

1.0

In [12]:
model.score(x_test,y_test)

0.9971934847134016

**5.Visualization**

In [13]:
from IPython.display import Image
from sklearn import tree
import pydotplus

#https://dreampuf.github.io/GraphvizOnline/

In [14]:
dot_data= tree.export_graphviz(model,out_file='nba.txt', feature_names= x.columns, class_names=['no','yes'])